<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portofolio</title>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portofolio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <header>
        <div class="overlay"></div>
        <nav class="container">
            <a href="#" class="logo">Portof<span>olio</span></a>
            <div class="links">
                <ul>
                    <li>
                        <a class="nav-link about">About</a>
                    </li>
                    <li>
                        <a class="nav-link skillss">Skills</a>
                    </li>
                    <li>
                        <a class="nav-link projects">Projects</a>
                    </li>
                    <li>
                        <a class="nav-link contactMe">Contact</a>
                    </li>
                </ul>
                <i class="uil uil-moon toggle-btn"></i>
            </div>
            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                
            </div>
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Portofolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
            </div>*@
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <a href="#" class="logo">Portof<span>olio.</span></a>
            <p class="text">&copy; Copyright 2022. All right reserved</p>
            <ul class="social-media">
                <li>
                    <a href="" class="social-link">
                        <i class="uil uil-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="" class="social-link">
                        <i class="uil uil-github"></i>
                    </a>
                </li>
                <li>
                    <a href="" class="social-link">
                        <i class="uil uil-facebook-f"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $(".about").on('click', function () {
            window.location = "#aboutMe";
        });
    });
    $(document).ready(function () {
        $(".skillss").on('click', function () {
            window.location = "#skillss";
        });
    });
    $(document).ready(function () {
        $(".projects").on('click', function () {
            window.location = "#projects";
        });
    });
    $(document).ready(function () {
        $(".contactMe").on('click', function () {
            window.location = "#contactMe";
        });
    });
</script>