@{
    ViewData["Title"] = "Home page";
}
<main>
    <section class="showcase-area">
        <img src="./assets/square1.png" class="shape square" alt="" />
        <div class="container">
            <div class="showcase-info">
                <h3 class="sub-heading">Software Developer && Quality Assurance</h3>
                <h1 class="heading">Elfete Totaj</h1>
                <p class="text">SFereerfefeferfergegfxdgfdgfdgfchgdchfdhfdgfdfhdhfdrgerg</p>
                <div class="cta">
                    <a href="mailto:elfetetotaj@gmail.com" class="btn">Contact me</a>
                    <a href="./ElfeteTotaj_CV.pdf" download class="btn secondary-btn">Download CV</a>
                </div>
            </div>
            <div class="showcase-image">
                <img src="./assets/MePhoto.jpeg" class="person" alt="Elfete">
            </div>
        </div>
    </section>
    <section class="skills section">
        <div class="container">
            <div class="skills-box">
                <div class="box-heading">
                    <h3 class="sub-heading"> My skills</h3>
                    <h1 class="heading">Let me help you</h1>
                    <div class="box-desc">
                        <p class="text">
                            Edcsdcs sdcsdcsd sdcsdcsdc svger gergef erg ergerrg
                            ergerg egegrergasf skuwfjbf kejfhwejhfv 'wefjherfvewghfv 
                            wefjhfvjhwfe' sfjherfjher efkejrfhefbkhsfb sfkjbrhfhbfk ekjfberhkfb
                            erfmhbrfhberf dfkuerhfkwehbiwefhndj,fnfsdufgweuiofbdf kuefhywegfbjkasdjoeifyuyef
                            ssrjgfyrjfgjsdfn.
                        </p>
                        <a href="#" class="btn">Hire me</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>