@{
    ViewData["Title"] = "Home page";
}
<main>
    <section class="showcase-area" id="aboutMe" name="aboutMe">
        <img src="./assets/square1.png" class="shape square" alt="" />
        <div class="container">
            <div class="showcase-info">
                <h3 class="sub-heading">Software Developer && Quality Assurance</h3>
                <h1 class="heading">Elfete Totaj</h1>
                <p class="text">I enjoy being challenged and engaging with projects that require me to work outside my
                    comfort and
                    knowledge set, as continuing to learn new languages and development techniques are important to
                    me . Highly organized, responsible and well-versed in Computer Science and Engineering. Successful
                    in quickly building skills, self-teaching and acquiring new knowledge.</p>
                <div class="cta">
                    <a href="mailto:elfetetotaj@gmail.com" class="btn">Contact me</a>
                    <a href="./ElfeteTotaj_CV.pdf" download class="btn secondary-btn">Download CV</a>
                </div>
            </div>
            <div class="showcase-image">
                <img src="./assets/MePhoto.jpeg" class="person" alt="Elfete">
            </div>
        </div>
    </section>
    <section class="skills section" id="skillss">
        <div class="container">
            <div class="skills-box">
                <div class="box-heading">
                    <h3 class="sub-heading"> My skills</h3>
                    <h1 class="heading">Let me help you</h1>
                    <div class="box-desc">
                        <p class="text">
                            I enjoy being challenged and engaging with projects that require me to work outside my
                            comfort and
                            knowledge set, as continuing to learn new languages and development techniques are important
                            to
                            me . Highly organized, responsible and well-versed in Computer Science and Engineering.
                            Successful
                            in quickly building skills, self-teaching and acquiring new knowledge.
                        </p>
                        <a href="mailto:elfetetotaj@gmail.com" class="btn">Hire me</a>
                    </div>
                </div>
                <div class="skills-wrap">
                    <div class="skill">
                        <div class="sk-progress">
                            <svg>
                                <circle cx="75" cy="75" r="68" />
                            </svg>
                            <h2 class="counter">
                                <span data-target="85">0</span>%
                            </h2>
                        </div>
                        <div class="sk-title">HTML</div>
                    </div>
                    <div class="skill">
                        <div class="sk-progress">
                            <svg>
                                <circle cx="75" cy="75" r="68" />
                            </svg>
                            <h2 class="counter">
                                <span data-target="76">0</span>%
                            </h2>
                        </div>
                        <div class="sk-title">CSS</div>
                    </div>
                    <div class="skill">
                        <div class="sk-progress">
                            <svg>
                                <circle cx="75" cy="75" r="68" />
                            </svg>
                            <h2 class="counter">
                                <span data-target="55">0</span>%
                            </h2>
                        </div>
                        <div class="sk-title">JS</div>
                    </div>
                    <div class="skill">
                        <div class="sk-progress">
                            <svg>
                                <circle cx="75" cy="75" r="68" />
                            </svg>
                            <h2 class="counter">
                                <span data-target="88">0</span>%
                            </h2>
                        </div>
                        <div class="sk-title">C#</div>
                    </div>
                </div>
                <img src="./assets/square1.png" class="shape square" />
            </div>
        </div>

    </section>
    <section class="portofolio section" id="projects">
        <div class="container">
            <div class="porofolio-header">
                <div class="porofolio-title">
                    <h3 class="sub-heading">Portofolio</h3>
                    <h1 class="heading">Latest Projects</h1>
                </div>
                @* <div class="filter-btns">
                    <button class="filter-btn">All</button>
                    <button class="filter-btn">Product</button>
                    <button class="filter-btn">Interacting</button>
                    <button class="filter-btn">Web App</button>
                </div> *@
            </div>
            </div>
            <div class="portofolio-gallery">
                <div class="prt-card">
                    <div class="prt-image">
                        <img src="./assets/zooLife.png" alt="">
                        <div class="prt-overlay">
                            <span class="prt-icon" style="--i: 0s">
                                <i class="uil uil-search-plus"></i>
                            </span>
                            <a href="https://github.com/elfetetotaj/ZooApp" class="prt-icon" style="--i: 0.15s">
                                <i class="uil uil-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="prt-desc">
                        <h3>ZooLife</h3>
                        <a href="https://github.com/elfetetotaj" class="btn secondary-btn sm">Check more</a>
                    </div>
                </div>
                <div class="prt-card">
                    <div class="prt-image">
                        <img src="./assets/beauty.png" alt="">
                        <div class="prt-overlay">
                            <span class="prt-icon" style="--i: 0s">
                                <i class="uil uil-search-plus"></i>
                            </span>
                            <a href="https://github.com/elfetetotaj/beauty" class="prt-icon" style="--i: 0.15s">
                                <i class="uil uil-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="prt-desc">
                        <h3>Beauty App</h3>
                        <a href="https://github.com/elfetetotaj" class="btn secondary-btn sm">Check more</a>
                    </div>
                </div>
                <div class="prt-card">
                    <div class="prt-image">
                        <img src="./assets/pieShop.png" alt="">
                        <div class="prt-overlay">
                            <span class="prt-icon" style="--i: 0s">
                                <i class="uil uil-search-plus"></i>
                            </span>
                            <a href="https://github.com/elfetetotaj/PieShop" class="prt-icon" style="--i: 0.15s">
                                <i class="uil uil-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="prt-desc">
                        <h3>Pie Shop</h3>
                        <a href="https://github.com/elfetetotaj" class="btn secondary-btn sm">Check more</a>
                    </div>
                </div>
                <div class="prt-card">
                    <div class="prt-image">
                        <img src="./assets/goldenball.jpg" alt="" />
                        <div class="prt-overlay">
                            <span class="prt-icon" style="--i: 0s">
                                <i class="uil uil-search-plus"></i>
                            </span>
                            <a href="https://github.com/elfetetotaj/GoldenBall" class="prt-icon" style="--i: 0.15s">
                                <i class="uil uil-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="prt-desc">
                        <h3>GoldenBall</h3>
                        <a href="https://github.com/elfetetotaj" class="btn secondary-btn sm">Check more</a>
                    </div>
                </div>
                <div class="prt-card">
                    <div class="prt-image">
                        <img src="./assets/hms.png" alt="">
                        <div class="prt-overlay">
                            <span class="prt-icon" style="--i: 0s">
                                <i class="uil uil-search-plus"></i>
                            </span>
                            <a href="https://github.com/elfetetotaj/HMS" class="prt-icon" style="--i: 0.15s">
                                <i class="uil uil-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="prt-desc">
                        <h3>HMS</h3>
                        <a href="https://github.com/elfetetotaj" class="btn secondary-btn sm">Check more</a>
                    </div>
                </div>
                <div class="prt-card">
                    <div class="prt-image">
                        <img src="./assets/momentio.png" alt="">
                        <div class="prt-overlay">
                            <span class="prt-icon" style="--i: 0s">
                                <i class="uil uil-search-plus"></i>
                            </span>
                            <a href="https://github.com/elfetetotaj/Momentio-Web" class="prt-icon" style="--i: 0.15s">
                                <i class="uil uil-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="prt-desc">
                        <h3>Momentio Web</h3>
                        <a href="https://github.com/elfetetotaj" class="btn secondary-btn sm">Check more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact section" id="contactMe">
        <img src="./assets/square1.png" alt="" class="shape square">
        <div class="container">
            <div class="contact-info">
                <h3 class="sub-heading">Contact me</h3>
                <h1 class="heading">Let's work together</h1>
                <p class="text">
                    I am a recent graduate and 
                    a student in a master's degree, 
                    and with this enthusiasm to learn as much as possible, 
                    I would like any opportunity to work for you.
                </p>
                <a href="mailto:elfetetotaj@gmail.com" class="mail">elfetetotaj@gmail.com
                    <i class="uil uil-arrow-right"></i>
                </a>
            </div>
            <form action="" class="contact-form">
                <h3>Send me a message</h3>
                <input type="text" class="form-input" placeholder="Your name" required>
                <input type="email" class="form-input" placeholder="Your email" required>
                <textarea placeholder="Project Details" id="" cols="30" rows="10" class="form-input"
                    required></textarea>
                <input type="submit" value="Send" class="btn">
            </form>
        </div>
    </section>
</main>