@{
    ViewData["Title"] = "Home page";
}
<main>
    <section class="showcase-area">
        <img src="./assets/square1.png" class="shape square" alt="" />
        <div class="container">
            <div class="showcase-info">
                <h3 class="sub-heading">Software Developer && Quality Assurance</h3>
                <h1 class="heading">Elfete Totaj</h1>
                <p class="text">SFereerfefeferfergegfxdgfdgfdgfchgdchfdhfdgfdfhdhfdrgerg</p>
                <div class="cta">
                    <a href="mailto:elfetetotaj@gmail.com" class="btn">Contact me</a>
                    <a href="./ElfeteTotaj_CV.pdf" download class="btn secondary-btn">Download CV</a>
                </div>
            </div>
            <div class="showcase-image">
                <img src="./assets/MePhoto.jpeg" class="person" alt="Elfete">
            </div>
        </div>
    </section>
</main>